{% extends 'chrome.html' %}
{% block title %} Home Supermercado {% endblock %}
{% block content %}
<div class="span3">
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="/criar"> Adicionar Produto </a></li>
        <li><a href="/modificar-preco"> Modificar Preço </a></li>
        <li><a href="/definir-regiao"> Definir Regioes de atendimento </a></li>
        <li><a href="/historico-vendas"> Histórico de vendas </a></li>
        <li><a href="/status-compras"> Status de compras </a></li>
        <li><a href="/compras-agendadas"> Compras Agendadas </a></li>
        <li><a href="/compras-recorrentes"> Compras Recorrentes </a></li>
        <li><a href="/comparar-preco-supermercados"> Comparar preços </a></li>
        <li><a href="/promocoes"> Gerenciar promoções </a></li>
    </ul>
</div>
<div class="span9">
{% block center %}
{% endblock %}
</div>
{% endblock %}
