{% extends 'supermercado/chrome.html' %} {% block title %} Home
Supermercado {% endblock %} {% block center %}
<table class="table">
	<tr>
		<th>Tipo Promocao</th>
		<th>Promocao</th>
		<th></th>
		<th></th>
	</tr>
	{% for promocao in promocoes %}
	<tr>
		<td>Combinação</td>
		<td>{{promocao}}</td>
		<td>
			<a href="/ver-promocao/{{promocao.id}}" class="btn btn-success">Ver</a>
		</td>
	</tr>
	{% endfor %}
</table>
<a href="/adicionar-promocao" class="btn btn-info pull-right">Adicionar</a>
{% endblock %}
