{% extends 'supermercado/chrome.html' %} {% block title %} Home
Supermercado {% endblock %} {% block center %}
<table class="table">
	<tr>
		<th>Tipo Promocao</th>
		<th>Promocao</th>
		<th></th>
		<th></th>
	</tr>
	{% for promocao in promocoes %}
	<tr>
		<td>Combinação</td>
		<td>{{promocao}}</td>
		<td><a href="{{promocao.get_absolute_url}}"
			class="btn btn-success">Ver</a></td>
	</tr>
	{% endfor %}
</table>
<div class="btn-group pull-right">
	<a href="/adicionar-promocao" class="btn btn-info ">Adicionar Combinação</a>
	<a href="/adicionar-promocao-simples" class="btn btn-success">Adicionar Simples</a>
	<a href="/adicionar-promocao-atacado" class="btn btn-danger">Adicionar Atacado</a>
</div>

{% endblock %}
