{% extends 'chrome.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% if carrinho.supermercado %}
<dl>
  <dt> Supermercado</dt>
  <dd> <a href="{{carrinho.supermercado.get_absolute_url}}">{{carrinho.supermercado}}</a></dd>
</dl>
{% endif %}

<table class="table table-striped">
    <tr>
            <th class="span3">Nome</th>
            <th class="span2">Categoria</th>
            <th class="span1">Preço</th>
            <th class="span1">Quantidade</th>
            <th class="span1"></th>
    </tr>
    {% for produto in carrinho.produtocarrinho_set.all %}
        <tr>
            <td>{{produto.produto.produto}}</td>
            <td>{{produto.produto.produto.categoria}}</td>
            <td>R$ {{produto.produto.preco|floatformat:2}}</td>
            <td>{{produto.quantidade}}</td>
            <td><a href="/meu-carrinho/remover-produto/{{produto.id}}" class="btn btn-warning">Remover</a></td>
        </tr>
    {% endfor %}
</table>
<p>Custo: R$ {{carrinho.total|floatformat:2}}</p>
<form name="bcash" action="https://www.bcash.com.br/checkout/pay/" method="post">
	{{carrinho.gerar_botao_pagamento}}
    <input class="btn btn-success" type="submit" class="pull-left" value="Comprar">
    <a href="#" class="btn btn-info"><i class="icon-list"></i>Salvar como Lista de Compras</a>
    <a href="/meu-carrinho/apagar" class="btn btn-danger"><i class="icon-trash"></i>Limpar Carrinho</a>
</form>
{% endblock %}