{% extends 'chrome.html' %} {% block title %} Home {% endblock %} {% block content %}
<dl>
	<dt>Supermercado</dt>
	<dd>
		<a href="{{carrinho.supermercado.get_absolute_url}}">{{compra.supermercado}}</a>
	</dd>
</dl>

<table class="table table-striped">
	<tr>
		<th class="span3">Nome</th>
		<th class="span2">Categoria</th>
		<th class="span1">Preço</th>
		<th class="span1">Quantidade</th>
	</tr>
	{% for produto in compra.produtocompra_set.all %}
	<tr>
		<td>{{produto.produto.produto}}</td>
		<td>{{produto.produto.produto.categoria}}</td>
		<td>R$ {{produto.produto.preco|floatformat:2}}</td>
		<td>{{produto.quantidade}}</td>
	</tr>
	{% endfor %}
</table>
<form name="bcash" action="https://www.bcash.com.br/checkout/pay/" method="post">
	{{compra.gerar_botao_pagamento}}
    <input class="btn btn-info" type="submit" class="pull-left" value="Pagar via BCash">
    <a class="btn btn-success" href="/comprar/dinheiro/{{compra.id}}">Pagar com Dinheiro</a>
</form>
{% endblock %}
