{% extends 'chrome.html' %} {% block title %} MyHomeMarket {% endblock %}
{% block content %}
<script src="/static/js/carrinho.js"></script>
<h4>Produtos de {{supermercado.nome_exibicao}}</h4>
<div class="accordion" id="lista-categorias">
	{% for categoria, produtos in categorias.items %}
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="lista-categorias" href="#collapse{{forloop.counter}}">
				{{categoria}} </a>
		</div>
		<div id="collapse{{forloop.counter}}"
			class="accordion-body collapse in">
			<div class="accordion-inner">
				{%for produtosupermercado in produtos %}
				<div class="span12" style="margin-left: 0px; margin-top: 5px;">
					<div class="span2">
						<a href="{{produtosupermercado.produto.get_absolute_url}}">{{produtosupermercado.produto.nome}}</a>
					</div>
					<div class="span2">{{produtosupermercado.produto.marca}}</div>
					<div class="span2">
						<img src="{{produtosupermercado.produto.imagem.url}}"
							class="span12"></img>
					</div>
					<div class="span1">R$
						{{produtosupermercado.preco|floatformat:2}}</div>
					<div class="span3">
						<p style="overflow: auto;">{{produtosupermercado.produto.descricao}}</p>
					</div>
					<div class="span2">
						<a href="/colocar-no-carrinho/{{produtosupermercado.id}}"
							class="btn btn-info" onclick="return adicionarProduto({{produtosupermercado.id}})">Adicionar</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
