{% extends 'chrome.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="span10 offset1">
<h3>FAQ</h3>
<p style="font-weight: bold;">Mas afinal, o que é o MyHomeMarket?</p>
<p>O MyHomeMarket é um site que lhe permite fazer compras online em supermercados sem precisar sair de casa.</p>
<p style="font-weight: bold;">Como funciona o MyHomeMarket</p>
<p>Quando você quiser, basta entrar no site, indicar quais produtos você deseja do seu supermercado favorito e iniciar a compra.
Em algumas horas o supermercado virá em sua casa com os produtos que você escolheu e, se você tiver escolhido o pagamento em dinheiro, pode pagar no momento da entrega.</p>
<p style="font-weight: bold;">Quais são os métodos de pagamento?</p>
<p>Você pode escolher:
<ul>
	<li>Pagamento por dinheiro no momento da entrega.</li>
	<li>Pagamento via BCash. Qualquer forma de pagamento aceita pelo BCash é aceita pelo nosso site.
	No entanto, devemos lembrar que compras pela internet podem demorar para ser autorizadas, ainda mais se for
	um boleto bancário</li>
</ul></p>
<p style="font-weight: bold;">O que são compra agendada e compra recorrente?</p>
<p>Na compra agendada você pode escolher a data de entrega da sua compra. O supermercado irá lhe notificar com antecedência sobre o horário de entrega.</p>
<p>Já as compras recorrentes, são compras que automaticamente executadas a cada período determinado por você. Por exemplo, se você marcar uma compra recorrente semanal em um sábado,
ela será entregue a você todo sábado a partir dali, em um horário previamente </p>
<p>Por enquanto, compras recorrentes e agendadas apenas podem ser pagas em dinheiro no momento da entrega.</p>
</div>
{% endblock %}