{% extends 'chrome.html' %}
{% block title %} Home {% endblock %}
{% block content %}

	<div class="hero-unit">
		<h1 class="brand" style="color:#538FD6;">My<span style="color:#923130;">Home</span>Market</h1>
		<h3>Faça suas compras de supermercado online!</h3>
		<h4>Para começar clique em <span style="color:#5BB75B">comprar</span> <i class="icon-shopping-cart" style="vertical-align:middle;"></i></h4>
	</div>
	<div class="container">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<td></td>
					<td>
						Supermercados disponíveis
					</td>
				</tr>
			</thead>
			<tbody>
				{% for supermerc in supermercados%}
					<tr>
						<td class="span1">
							<a class="btn btn-success" href="/supermercado/{{ supermerc.nome_url }}"><i class="icon-shopping-cart"></i>Comprar</a>
						</td>
						<td style="vertical-align:middle">
							{{ supermerc.nome_exibicao }}
						</td>
						<td style="vertical-align:middle">
							<a class="btn" = href="/avaliacao/{{supermerc.id}}">Avaliar</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}