{% extends 'chrome.html' %}
{% block title %} Home {% endblock %}
{% block content %}
	<div class="container">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<td>
						Supermercados disponíveis
					</td>
				</tr>
			</thead>
			<tbody>
				{% for supermerc in supermercados%}
					<tr>
						<td>
							<a href="/supermercado/{{ supermerc.nome_url }}">{{ supermerc.nome_exibicao }}</a>
						</td>
						<td>
							<button>
								<a = href="/avaliacao/{{supermerc.id}}">Avaliar</a>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}