{% extends 'chrome.html' %} {% block content %}
<div class="span2">
	{% if query %}
	<!-- Begin faceting. -->
	<div>
		<dl>
			{% if facets.fields.marca %}
				<dt>Marca</dt>
				{% for author in facets.fields.marca|slice:":5" %}
					<dd>
					<a href="{{ request.get_full_path }}&amp;selected_facets=marca_exact:{{ author.0|urlencode }}">{{author.0 }}</a> ({{ author.1 }})
					</dd>
				{% endfor %}
			{% else %}
				<p>Sem marcas.</p>
			{% endif %}
			{% if facets.fields.categoria %}
				<dt>Categoria</dt>
				{% for categoria in facets.fields.categoria|slice:":5" %}
					<dd>
						<a href="{{ request.get_full_path }}&amp;selected_facets=categoria_exact:{{ categoria.0|urlencode }}">{{categoria.0 }}</a> ({{ categoria.1 }})
					</dd>
				{% endfor %}
			{% else %}
				<p>Sem categorias.</p>
			{% endif %}
		</dl>
	</div>
	{% endif %}
</div>
<!-- End faceting -->
<div class="span10">
	<form method="get" action="." class="form-search">
		{{ form.q }}
		<button type="submit" class="btn">Buscar</button>
	</form>
	{% if query %}
		<!-- Display results... -->
		{% for result in page.object_list %}
			<div class="searchresult span12">
				<div class="span2">
					<img alt="" src="{{result.object.imagem.url}}"/>
				</div>
				<div class="span10">
					<h5>
						<a href="{{ result.object.get_absolute_url }}">
							{{result.object.nome }}
						</a>
					</h5>
					<p>{{ result.object.descricao|truncatewords:80 }}</p>
				</div>
			</div>
		{% empty %}
			<p>Lamentamos, nenhum produto foi encontrado.</p>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}